<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <script src="js/imageSelectionControls.js"></script>
  <script src="js/bbt.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="sideBar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

</head>
<body>
  
  <!-- Loader -->
 
  <div id="navbar">
  </div>
  <!-- Loader End --> 
  <nav style="position: fixed;z-index: 13;"  >

    <div class="nav-wrapper" >
      
      <ul id="nav-mobile" class="right hide-on-med-and-down"  >
        <li ><a href="sass.html">Home</a></li>
        <li ><a href="sass.html">Face Filters</a></li>
        <li><a href="badges.html">Webcam</a></li>
        <li><a href="collapsible.html">BBT</a></li>
      </ul>
      
    </div>
  </nav> 

  <div class="row"  >
    
     
    
    <!-- ul col starts -->
    <div class="col m3 " >
      <div id="sidebar">
      </div>
    </div>
    <!-- ul col ends -->
    <!-- cards col starts -->
    <div class="col m7 s11" style="margin-top:80px">
    
      <nav >
        <div class="nav-wrapper" style="margin-right: 100px;">
          <div class="col s12">
            <a href="#!" class="breadcrumb">Face Filter ></a>
            <a href="#!" >Face Detection </a>
          </div>
        </div>
      </nav>


      <div class="card "   style=" padding: 10px; border-radius: 5px;box-shadow: 0 0 5px rgb(0 0 0 / 35%);" >    
        <img id="inputImg" class="imgresponsive" src="" style="border-radius: 10px;"  />
        <canvas id="overlay" />
    </div>

    <div class="card "    style=" padding: 20px; border-radius: 5px;">
    <div class="row">

      <!-- face_detector_selection_control -->
      <div class="row" >
        <div class="col m12 s12">
          <div id="face_detector_selection_control" class="input-field" >
          <select id="selectFaceDetector">
            <option value="ssd_mobilenetv1">SSD Mobilenet V1</option>
            <option value="tiny_face_detector">Tiny Face Detector</option>
          </select>
          <label>Select Face Detector</label>
           </div>
        </div>
      </div>

      <!-- face_detector_selection_control -->

      <!-- image_selection_control -->
      <div id="image_selection_control"></div>
      <div class="row" >
        <div class="col m12 s12">
        <!-- image_selection_control -->
            <label>Select Image</label>
            <div id="selectList"></div>
        </div>
        <div class="row">
          <div class="col m12 s12">
           <label for="imgUrlInput">Get image from URL:</label>
            <input id="imgUrlInput" type="text" class="bold">
          </div>
        </div>
        <div class="col m6 s12 btn-margin" >
          <button
            class="waves-effect waves-light  btn blue darken-1"
            onclick="loadImageFromUrl()"
          >
            Ok
          </button>
          <label class="btn blue darken-1">
            <span for="browse">Choose File</span>
          <input id="queryImgUploadInput" type="file" class="browse" style="width: 200px;display: none;" onchange="loadImageFromUpload()" accept=".jpg, .jpeg, .png">
        </div>

      
        <div id="image_selection_control"></div>
      <!-- image_selection_control -->

    </div>

    <!-- ssd_mobilenetv1_controls -->
    <span id="ssd_mobilenetv1_controls">
      <div class="row ">
        <div class="col m12 s12">
          <label for="minConfidence">Min Confidence:</label>
          <input disabled value="0.5" id="minConfidence" type="text" class="bold">
        </div>
        <div class="col m6 s6">
        <button
          class="waves-effect waves-light btn small blue darken-1"
          onclick="onDecreaseMinConfidence()"
        >
          <p class="material-icons left">-</p>
        </button>
        <button
          class="waves-effect waves-light btn small blue darken-1"
          onclick="onIncreaseMinConfidence()"
        >
          <p class="material-icons left">+</p>
        </button>
      </div>
      <div class="col m6 s6" >
          
        
       </div>
      </div>
    </span>
    <!-- ssd_mobilenetv1_controls -->

    <!-- tiny_face_detector_controls -->
    <span id="tiny_face_detector_controls">
      <div class="row ">
        <div class="col m6 s6 input-field" >
          <select id="inputSize">
            <option value="" disabled selected>Input Size:</option>
            <option value="160">160 x 160</option>
            <option value="224">224 x 224</option>
            <option value="320">320 x 320</option>
            <option value="416">416 x 416</option>
            <option value="512">512 x 512</option>
            <option value="608">608 x 608</option>
          </select>
          <label>Input Size</label>
        </div>
        <div class="col m6 s6">
          <label for="scoreThreshold">Score Threshold:</label>
          <input disabled value="0.5" id="scoreThreshold" type="text" class="bold">
        </div>
        <div class="col m12 s12" >
            <button
              class="waves-effect waves-light btn"
              onclick="onDecreaseScoreThreshold()"
            >
              <i class="material-icons left">-</i>
            </button>
            <button
              class="waves-effect waves-light btn"
              onclick="onIncreaseScoreThreshold()"
            >
              <i class="material-icons left">+</i>
            </button>
        </div>
      </div>
    </span>
    <!-- tiny_face_detector_controls -->
    </div>

  </div>

  

  

  </body>

  <script>
    let faceMatcher = null

    async function updateResults() {
      if (!isFaceDetectionModelLoaded()) {
        return
      }

      const inputImgEl = $('#inputImg').get(0)

      const options = getFaceDetectorOptions()
      const results = await faceapi
        .detectAllFaces(inputImgEl, options)
        .withFaceLandmarks()
        .withFaceDescriptors()

      drawFaceRecognitionResults(results)
    }

    function drawFaceRecognitionResults(results) {
      const canvas = $('#overlay').get(0)
      const inputImgEl = $('#inputImg').get(0)

      faceapi.matchDimensions(canvas, inputImgEl)
      // resize detection and landmarks in case displayed image is smaller than
      // original size
      const resizedResults = faceapi.resizeResults(results, inputImgEl)

      resizedResults.forEach(({ detection, descriptor }) => {
        const label = faceMatcher.findBestMatch(descriptor).toString()
        const options = { label }
        const drawBox = new faceapi.draw.DrawBox(detection.box, options)
        drawBox.draw(canvas)
      })
    }

    async function run() {
      // load face detection, face landmark model and face recognition models
      await changeFaceDetector(selectedFaceDetector)
      await faceapi.loadFaceLandmarkModel('/')
      await faceapi.loadFaceRecognitionModel('/')

      // initialize face matcher with 1 reference descriptor per bbt character
      faceMatcher = await createBbtFaceMatcher(1)

      // start processing image
      updateResults()
    }

    $(document).ready(function() {
      $("#navbar").load("nav.html");
      $("#sidebar").load("sidebar.html");

      initImageSelectionControls()
      initFaceDetectionControls()
      run()
    })
  </script>
</body>
</html>