<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <script src="js/imageSelectionControls.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="sideBar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
 

</head>
<body>
  <!-- <div id="navbar"></div> -->
      
    <!-- <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>  -->



  <!-- Loader -->
  <div class="preloader-background"  id="loader"> 
    <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
    
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
    
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
    
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      <p class="blinking" ></p>
    </div> 
  <!-- Loader End --> 
  <div id="navbar">
  </div>
    <div class="row"  >
    <!-- ul col starts -->
    <div class="col m3 " >
      <div id="sidebar">
      </div> 
    </div>
    <!-- ul col ends -->    
  
    <div class="col m7 s11 " style="margin-top:80px">
      <nav >
        <div class="nav-wrapper" style="margin-right: 100px;">
          <div class="col s12">
            <a href="#!" class="breadcrumb">Face Filter ></a>
            <a href="#!" >Face Expression Recognition </a>
      </div>
    </div>
  </nav>
  <div class="card "   style=" padding: 10px; border-radius: 5px;box-shadow: 0 0 5px rgb(0 0 0 / 35%);" >    
    <img id="inputImg"  class="imgresponsive" src="" style="border-radius: 10px;"  />
    <canvas id="overlay"  />       
</div>
    <div class="card "    style=" padding: 20px; border-radius: 5px;">
        <div class="row" >
          <div class="col m12 s12">
            <!-- image_selection_control -->
                <label>Select Image</label>
                <div id="selectList"></div>
            </div>
        </div>
     <div class="row" style="margin-top: -30px;">
        <div class="col m6 s12">
          <div >
            <label for="imgUrlInput">Get image from URL:</label>
            <input id="imgUrlInput" type="text" class="bold">
          </div>
        </div>
        <div class="col m6 s12 btn-margin" >
          <button
          class="waves-effect waves-light  btn blue darken-1"
          onclick="loadImageFromUrl()"
            >
              Ok
            </button>
            <label class="btn blue darken-1">
              <span for="browse">Choose File</span>
              <input id="queryImgUploadInput" type="file"class="browse" style="width: 200px;display: none;"  onchange="loadImageFromUpload()" accept=".jpg, .jpeg, .png">
            </label> 
            <!-- image_selection_control -->
        </div>

    <div class="row">
      <!-- face_detector_selection_control -->
      <div id="face_detector_selection_control" class="input-field col m12 s12" >
        <select id="selectFaceDetector">
          <option value="ssd_mobilenetv1">SSD Mobilenet V1</option>
          <option value="tiny_face_detector">Tiny Face Detector</option>
        </select>
        <label>Select Face Detector</label>
      </div>
      <!-- face_detector_selection_control -->


    
    <!-- ssd_mobilenetv1_controls -->
    <span id="ssd_mobilenetv1_controls" >
      <div class="row">
          <div class="col m12 s12">
            <label for="minConfidence">Min Confidence:</label>
            <input disabled value="0.5" id="minConfidence" type="text" class="bold">
          </div>
          <div class="col m6 s6">

              <button
            class="waves-effect waves-light btn small blue darken-1"
                onclick="onDecreaseMinConfidence()"
              >
                <i class="material-icons left">-</i>
              </button>
              <button
              class="waves-effect waves-light btn small blue darken-1"
              onclick="onIncreaseMinConfidence()"
              >
                <i class="material-icons left">+</i>
              </button>
          </div>
          <div class="col m6 s6" >
              
            
          </div>
      </div>
    </span>
    <!-- ssd_mobilenetv1_controls -->

    <!-- tiny_face_detector_controls -->
    <span id="tiny_face_detector_controls">
      <div class="row">
        <div class="col m6 s6 input-field">
          <select id="inputSize">
            <option value="" disabled selected>Input Size:</option>
            <option value="160">160 x 160</option>
            <option value="224">224 x 224</option>
            <option value="320">320 x 320</option>
            <option value="416">416 x 416</option>
            <option value="512">512 x 512</option>
            <option value="608">608 x 608</option>
          </select>
          <label>Input Size</label>
        </div>       
            <div class="col m6 s6">
              <label for="scoreThreshold">Score Threshold:</label>
              <input disabled value="0.5" id="scoreThreshold" type="text" class="bold">
            </div>
            <div class="col m12 s12" >
                  <button
                  class="waves-effect waves-light btn small blue darken-1"
                  onclick="onDecreaseScoreThreshold()"
                  >
                    <i class="material-icons left">-</i>
                  </button>
                  <button
                  class="waves-effect waves-light btn small blue darken-1"
                  onclick="onIncreaseScoreThreshold()"
                  >
                    <i class="material-icons left">+</i>
                  </button>
            </div>
        </div>
          </span>
          </div>

          </div>
    <!-- tiny_face_detector_controls -->
     </div>
     <!-- cards col ends -->
    <!-- <div class="col m2 s1"></div> -->
  </div>

<!-- Row Ends -->
  </body>

  <script>
     // menu collpase button code
     $( document ).ready(function(){
        $(".button-collapse").sideNav();
      });
      // end here

    let thresh = 0.1

    async function updateResults() {
      if (!isFaceDetectionModelLoaded()) {
        return
      }

      const inputImgEl = $('#inputImg').get(0)
      const options = getFaceDetectorOptions()

      const results = await faceapi.detectAllFaces(inputImgEl, options)
        // compute face landmarks to align faces for better accuracy
        .withFaceLandmarks()
        .withFaceExpressions()

      const canvas = $('#overlay').get(0)
      faceapi.matchDimensions(canvas, inputImgEl)

      const resizedResults = faceapi.resizeResults(results, inputImgEl)
      const minConfidence = 0.05
      faceapi.draw.drawDetections(canvas, resizedResults)
      faceapi.draw.drawFaceExpressions(canvas, resizedResults, minConfidence)
    }

    async function run() {
      // load face detection and face expression recognition models
      // and load face landmark model for face alignment
      await changeFaceDetector(SSD_MOBILENETV1)
      await faceapi.loadFaceLandmarkModel('/')
      await faceapi.loadFaceExpressionModel('/')
      // start processing image
      updateResults()
    }

    $(document).ready(function() {
      // renderNavBar('#navbar', 'face_expression_recognition')
      $("#navbar").load("nav.html");
      $("#sidebar").load("sidebar.html");

      initImageSelectionControls('happy.jpg', true)
      initFaceDetectionControls()
      run()
    })
  </script>
</body>
</html>