<head>
  <link rel="stylesheet" href="styles.css" />
</head>

<nav
  style="position: fixed; z-index: 13; background-color: #ffffff"
  class="nav-center"
>
  <div class="nav-wrapper container">
    <ul id="nav-mobile">
      <li><a href="faceDetection.html" style="color: #565a5f">Home</a></li>
      <li>
        <a href="faceDetection.html" style="color: #565a5f">Face Filters</a>
      </li>
      <li>
        <a href="webcamFaceDetection.html" style="color: #565a5f"
          >Webcam Filters</a
        >
      </li>
      <li>
        <a href="bbtFaceSimilarity.html" style="color: #565a5f">BBT Filters</a>
      </li>
    </ul>
  </div>
</nav>
