<head>
  <link rel="stylesheet" href="sideBar.css" />
  <!-- <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css"
  />
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-2.1.1.min.js"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"
  ></script> -->

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"
  />
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-2.1.1.min.js"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>

<ul
  id="slide-out"
  class="side-nav fixed main-side collapsible"
  style="
    background-color: white;
    border-right: 0.5px solid #a7adb0;
    z-index: 10;
    width: 240px;
  "
>
  <!--    
      <ul class="collapsible" >
        <li>
          <div class="collapsible-header head">
           <p ><i class="fas fa-id-card my-icon"></i><span class="sidebar-subheading">Face Filters</span></p>
          </div>
          <div class="collapsible-body drop-body">
            <ul class="drop-body"  >              
              <li><a class="waves-effect dropdownMargin" href="faceDetection.html"><span >Face Detection</span></a></li>
              <li><a class="waves-effect dropdownMargin" href="faceLandmarkDetection.html"><span >Face Landmark Detection</span></a></li>
              <li><a class="waves-effect dropdownMargin" href="faceExpressionRecognition.html"><span>Face Expression Recognition</span></a></li>
              <li><a class="waves-effect dropdownMargin" href="faceRecognition.html"><span >Face Recognition</span></a></li>
              <li><a class="waves-effect dropdownMargin" href="faceExtraction.html"><span>Face Extraction</span></a></li>
              <li><a class="waves-effect dropdownMargin" href="videoFaceTracking.html"><span >Video Face Tracking</span></a></li>
            </ul>
          </div>
        </li>
      </ul>
   
   
      <ul class="collapsible">
        <li>
          <div class="collapsible-header head">
            <p ><i class="fas fa-shopping-basket my-icon"></i><span class="sidebar-subheading">BBT filters</span></p>
          </div>
          <div class="collapsible-body">
            <ul>
              <li><a class="waves-effect dropdownMargin" href="bbtFaceMatching.html"><span>BBT Face Similarity</span></a></li>
              <li><a class="waves-effect dropdownMargin" href="bbtFaceMatching.html"><span>BBT Face Matching</span></a></li>
              <li><a class="waves-effect dropdownMargin" href="bbtFaceRecognition.html"><span>BBT Face Recognition</span></a></li>
              <li><a class="waves-effect dropdownMargin" href="bbtFaceLandmarkDetection.html"><span>Batch Face Landmark Detection</span></a></li>
              <li><a class="waves-effect dropdownMargin" href="batchFaceRecognition.html"><span>Batch Face Recognition</span></a></li>

            </ul>
          </div>
        </li>
      </ul>
   
   
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            <p ><i class="fas fa-briefcase my-icon"></i><span class="sidebar-subheading">Webcam filters  </span</p>
          </div>
          <div class="collapsible-body">
            <ul>
              <li><a class="waves-effect dropdownMargin" href="webcamFaceDetection.html"><span >Webcam Face Detection</span></a></li>
              <li><a class="waves-effect dropdownMargin" href="webcamFaceLandmarkDetection.html"><span>Webcam Face Landmark Detection</span></a></li>
              <li><a class="waves-effect dropdownMargin" href="webcamFaceExpressionRecognition.html"><span>Webcam Face Expression Recognition</span></a></li>
            </ul>
          </div>
        </li>
      </ul> -->

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">face</i>Face Filter
      </div>
      <div class="collapsible-body">
        <ul>
          <li>
            <a class="waves-effect dropdownMargin" href="faceDetection.html"
              ><span>Face Detection</span></a
            >
          </li>
          <li>
            <a
              class="waves-effect dropdownMargin"
              href="faceLandmarkDetection.html"
              ><span>Face Landmark Detection</span></a
            >
          </li>
          <li>
            <a
              class="waves-effect dropdownMargin"
              href="faceExpressionRecognition.html"
              ><span>Face Expression Recognition</span></a
            >
          </li>
          <li>
            <a class="waves-effect dropdownMargin" href="faceRecognition.html"
              ><span>Face Recognition</span></a
            >
          </li>
          <li>
            <a class="waves-effect dropdownMargin" href="faceExtraction.html"
              ><span>Face Extraction</span></a
            >
          </li>
          <li>
            <a class="waves-effect dropdownMargin" href="videoFaceTracking.html"
              ><span>Video Face Tracking</span></a
            >
          </li>
        </ul>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <i class="material-icons">filter_center_focus</i>ML Filters
      </div>
      <div class="collapsible-body">
        <ul>
          <li>
            <a class="waves-effect dropdownMargin" href="bbtFaceMatching.html"
              ><span>BBT Face Similarity</span></a
            >
          </li>
          <li>
            <a class="waves-effect dropdownMargin" href="bbtFaceMatching.html"
              ><span>BBT Face Matching</span></a
            >
          </li>
          <li>
            <a
              class="waves-effect dropdownMargin"
              href="bbtFaceRecognition.html"
              ><span>BBT Face Recognition</span></a
            >
          </li>
          <li>
            <a
              class="waves-effect dropdownMargin"
              href="bbtFaceLandmarkDetection.html"
              ><span>Batch Face Landmark Detection</span></a
            >
          </li>
          <li>
            <a
              class="waves-effect dropdownMargin"
              href="batchFaceRecognition.html"
              ><span>Batch Face Recognition</span></a
            >
          </li>
        </ul>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <i class="material-icons">camera_alt</i>Webcam Filters
      </div>
      <div class="collapsible-body">
        <ul>
          <li>
            <a
              class="waves-effect dropdownMargin"
              href="webcamFaceDetection.html"
              ><span>Webcam Face Detection</span></a
            >
          </li>
          <li>
            <a
              class="waves-effect dropdownMargin"
              href="webcamFaceLandmarkDetection.html"
              ><span>Webcam Face Landmark Detection</span></a
            >
          </li>
          <li>
            <a
              class="waves-effect dropdownMargin"
              href="webcamFaceExpressionRecognition.html"
              ><span>Webcam Face Expression Recognition</span></a
            >
          </li>
        </ul>
      </div>
    </li>
  </ul>
</ul>
